[project]
	description = wcrs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wrcspublic
[access "refs/for/refs/*"]
	read = group user/wrcspublic
	push = group user/wrcspublic
	label-Code-Review = -2..+2 group user/wrcspublic
	label-Verified = -1..+1 group user/wrcspublic
	rebase = group user/wrcspublic
	removeReviewer = group user/wrcspublic
	submit = group user/wrcspublic
[access "refs/heads/*"]
	read = group user/wrcspublic
	create = group user/wrcspublic
	push = +force group user/wrcspublic
	pushMerge = group user/wrcspublic
[access "refs/tags/*"]
	push = +force group user/wrcspublic
	pushTag = group user/wrcspublic
	pushSignedTag = group user/wrcspublic
